/*
Theme Name: Twenty Seventeen
Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
https://codex.wordpress.org/Right_to_Left_Language_Support
*/


body {
  direction: rtl;
  unicode-bidi: embed;
}
.widget_product_search input[type=submit]{
    left: .5em;
    right: 0;
}
.widget_product_search .search-field {
    padding-left: 100px;
    padding-right: 10px;
}
.site-footer .widget .product_list_widget li a.remove, .widget .product_list_widget li a.remove {
    float: left;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a{
    float: right;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 3.8%;
}
.single-product .woocommerce-product-rating .star-rating{
    float: right;
}
.star-rating {
    transform: scaleX(-1);
}
@media screen and (min-width: 48em) {
    .has-sidebar:not(.error404) #primary {
        float: right;

    }
    .has-sidebar #secondary{
        float: left;
    }
}