/*
Theme name: TestDomain
Description: Test task
Author: ZakKurasov
Template: twentyseventeen
*/

@import "../twentyseventeen/style.css";

.modal {
	display: none;
	position: fixed;
	z-index: 15;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,.4);
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.modal .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

div.summary.entry-summary > div[itemprop="description"] {
	margin-top: 20px;
}

.site-info {
	width: 100%;
}

.footer-contacts {
	display: inline-block;
	float: right;
}
.show-xs {
	display: none;
}
@media screen and (max-width: 768px) {
	.footer-contacts {
		display: block;
		float: none;
	}
	.footer-contacts button {
		display: block;
		width: 100%;
		margin: 5px;
	}
	.show-xs {
		display: block;
	}
	.hide-xs {
		display: none;
	}
}